@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}

/* Animación para el sidebar */
.slide-sidebar-enter-active,
.slide-sidebar-leave-active {
  transition: transform 0.3s ease-in-out;
}

.slide-sidebar-enter-from,
.slide-sidebar-leave-to {
  transform: translateX(-100%);
}

.slide-sidebar-enter-to,
.slide-sidebar-leave-from {
  transform: translateX(0);
}

pre code.hljs {
  /* background-color: #1e1e1e; */
  color: #d4d4d4;
  padding: 1em;
  border-radius: 0.5rem;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.875rem;
  line-height: 1.5;
}

.hljs-attr {
  color: #9cdcfe;
}

.hljs-string {
  color: #ce9178;
}

.hljs-number,
.hljs-literal {
  color: #b5cea8;
}

.hljs-punctuation {
  color: #d4d4d4;
}
.hljs {
  background: none;
}

.hljs::after {
  content: none;
}

.hljs::before {
  content: none;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: none;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
}
.prose-base :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-base :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: .5rem;
  margin-top: 1rem;
}
